language: node_js
node_js: "6"
addons:
  firefox: latest
install:
  - npm install
before_install:
  - 'export DISPLAY=:99.0'
  - sh -e /etc/init.d/xvfb start
before_deploy:
  - 'git config --global user.email "jan@bitovi.com"'
  - 'git config --global user.name "bitballs deploy bot"'
  - node public/build
  - git add public/dist/ --force
  - 'git commit -m "Updating build."'
  - donejs deploy
deploy:
  skip_cleanup: true
  provider: heroku
  app: bitballs
  api_key:
    - secure: dxex208EVkI/C0AURYuCCxvJShEBdQkBy+uQGxkKlZ0QeHwRrjI4zJkgd2DpXW4CjTVCx5GDm20nW5q1ifglLAwWe6MuBVk3tUog33cMHSRaXlbe6jok44XrELPasGw5Rs/WtBzzUcivbpjFFbZtsjaYNMfN7Z3hXZwrUYJTe3sxnH8Dj+Jh059sjghZ5ldCPADiERI4vaN3BT9Ik2WmnsP1WoVzvV5Ohls50VtmG8ntuUmvofWdmXU5S0IeoeczCCEYOc/6s5PtPrITctxIJ5DKLP1CX7AsEZjh2/2QniCW+/5h5G6OfsoJ1P1XkQ2bfxX2V7bVclFEUwHIJMjmLIyXeU9dLPjLfD476nUpfKonAl1TzRW7dTtD0bX+ZbcTXensGqbwGLE5xE2sCnMMqtDPDRhK5MchOJ8q2Jw7YTGj5Hy1OaK+hcHJXTHBSyWS/5NovrqSz3RWCUnVb25nw2h9R3vpiO2rWJtM8L0YTnR0+WWz6RJNEH07m0yD+tPaUJ0PbLwPT5xqKB7QylDYX9zyK9HgpIv7Qub3T36Cz73tqXXbF0Y0w/NH0AWW2lGj4WcBHgh1KG0BOUdpY1M8xmEPGB9EYzttdoLzUBcN1j5JJaiXfZQMcyrvrqoJaRq5JWwB7GeToyPxhZS09FDhdhACqsdVh+o4Eh6Rp9ox8n8=
env:
  global:
    - secure: jgst4YJZrgHjmWQwvIJWAzHUd3yarKTF+wr76SMCyquthZNg1wTOSn+LtHd/sgAdINIZqe8yYFITfrrxtvcFhepOGTLqHweou2a4qJvrZ9RuxvXWFZeeYNQrY5rby8JtWvsbDW1yLFsVEz8TbDXIg3J8r6OQqRkYSgd6ch5R55k62Uf6LN59NJLWIT3RfCx58LsD+JhBH1cAk4YP8HNQR63XAHULf7vGQ8m7ap6Pf7hYdMzqld2JdGvoninbRsi+7+rki2XGewCz2d0BsEooB+MKOaOMhhvqHNI00RSJhX1wbT6yDKzYEYqOQ0ekZ7QUbLO+ICMe4+32bxGUNQjvsBBi491YscXvT5619P/c26rf83qVr0IJbOVF/mhp951d7WXmZ6MTW9cQqG0Lw+bLkR5qjZlxvVcYzZwfbJFj02WCGuXKyU0sqfNzBYFEgrWa2+ZpWdqN1K6YLLA3xJVPJCc10UK2UP2Pm8LNEdR3mb4Cqm6sTVOuJwRyA62cbMAFNeYgocOH2lVGhKk4aYikNL6v/UOodLwlQPKp/mpD+pdfo2KPqtg+7guhszvOC1NuR4vQm0tvB1u9u6LughcXsArX2NK7EakfEt4DezBZA4VR4NO7LmmfhlTj3PQjPtwnOGu5yXfHhoEX+kbl/9g64mnCqK9P7bTpdEkllt+FCCk=
