game-details .stats-container {
	position: relative;
	width: 75%;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
game-details .stat-point {
    position: absolute;
}
.youtube-container {
  text-align:center;
}
#player-pos {
	width: 1px;
	border-left: solid 1px red;
	z-index: 0;
	position: absolute;
}
