<script type="text/stache" id="demo-html" can-autorender>
  <can-import from="bitballs/components/user/details/" />
  <can-import from="bitballs/models/user" />

  <user-details session:bind="session"></user-details>

  {{# if(session.user) }}
  	{{# unless(session.user.verified) }}
	  	<hr />
	  	<h2>User Verification</h2>
		<button type="button"
                class="btn btn-default"
                on:click="session.user.verified = true">
			Verify User
		</button>
	{{/ unless }}
  {{/ if }}

</script>

<script src="../../../node_modules/steal/steal.js"
        main="can-view-autorender" id="demo-source">
import { fixture, DefineMap, viewModel as canViewModel } from "can";
import $ from 'jquery';

var password,
    vm = DefineMap.extend({
	session: {
		default: null
	}
});

fixture('POST /services/users', function(request, response){
	var user = {
		id: 1,
		email: request.data.email,
		verified: false
	};

	password = request.data.password;

	response(user);
});

fixture('PUT /services/users/{id}', function(request, response){
	if(request.data.password===password){
		password = request.data.newPassword;
		response({
			id: request.data.id,
			email: request.data.email,
			verified: request.data.verified
		});
	}else{
		response(401);
	}
});

fixture('DELETE /services/users/{id}', function(request, response){
	// inelegant, but better than worrying about real sessions in the user demo
	window.location.reload();
});

canViewModel('#demo-html', new vm);
</script>
