body {
  font-family: "Helvetica Neue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-weight: 300;
}

@media (min-width: 1400px) {
  /*.container {
      width: 1370px;
  }*/
}
