game-details .stats-container {
	position: relative;
	width: 75%;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
game-details .stat-point {
	font-family: Tahoma, Verdana, sans-serif;
    position: absolute;
    font-size: 8px;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    padding: 3px 2px;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
    transform: translate( -50%, 0);

    .destroy-btn {
        display: none;
        padding: 2px;
        font-size: 0.9em;
        opacity: 0.5;

        &:hover {
            opacity: 1.0;
        }
    }
}
game-details .stat-point:hover {
    font-size: 12px;
    padding: 1px;

    .destroy-btn {
        display: inline-block;
    }
}
.youtube-container {
  padding-bottom: 15px;
  height: auto;
  #youtube-player {
    width: 100%;
    background: black;
  }
}
#player-pos {
	width: 1px;
	border-left: solid 1px #c46d3d;
	z-index: 0;
	position: absolute;
}
game-details {
	.stat-1P {
		background-color: #2d8e61;
		color: white;
	}
	.stat-1PA {
		background-color: #8cad9d;
		color: white;
	}
	.stat-2P {
		background-color: #2d8e61;
		color: white;
	}
	.stat-2PA {
		background-color: #8cad9d;
		color: white;
	}
	.stat-ORB {
		background-color: #9367a5;
		color: white;
	}
	.stat-DRB {
		color: #4E388C;
		border: solid 1px #9367a5;
	}
	.stat-Ast {
		background-color: #c46d3d;
		color: black;
	}
	
	.stat-Stl {
		border: solid 1px #1C2E8C;
		color: #1C2E8C;
	}
	.stat-Blk {
		border: solid 1px #4C2D0F;
		color: #4C2D0F;
	}
	.stat-To {
		background-color: red;
		color: white;
	}
}
