<script id="demo-html" can-autorender type="text/stache">
    <can-import from="bitballs/models/fixtures/games" />
    <can-import from="bitballs/components/game/details/" />


    <stat-create gameId:raw="1" session:bind="session" autoplay:from="false"></stat-create>
</script>

<my-stat-create></my-stat-create>

<script src="../../../node_modules/steal/steal.js" main="~/components/stat/create/" id='demo-source'>
    import Session from "bitballs/models/session";
    import { Component, viewModel } from "can";
    import 'can-view-autorender';

    let vm = viewModel('#demo-html');
    vm.session = new Session({user: {isAdmin: true }});
</script>
