<!doctype html>
<html lang="en">
<title>Tests</title>
<main></main>
<script src="../../../node_modules/steal/steal.js"
  data-main="@empty"></script>

<script type="text/stache" id="main-template">
  <h1>A test</h1>

  {{#if show}}
    <some-tag propId:from="foo"></some-tag>
  {{/if}}
</script>

<script type="text/steal-module">
  var stache = require("can-stache");
  var Component = require("can-component");
  var DefineMap = require("can-define/map/map");
  var route = require("can-route");

  var ComponentViewModel = DefineMap.extend({
    get prop() {
      let propId = this.propId;
      console.log("prop is", propId);
      return `prop-${propId}`;
    }
  });

  Component.extend({
    tag: "some-tag",
    ViewModel: ComponentViewModel,
    view: stache("{{prop}}")
  })

  var ViewModel = DefineMap.extend({
    show: { value: true },
    bar: { value: "bar" },
    get foo() {
      console.log("Bar is", this.bar);
      return this.bar;
    }
  })

  var view = stache.from("main-template");
  var vm = window.vm = route.data = new ViewModel();
  route.start();
  document.body.appendChild(view(vm));
</script>
